/* main */
main > .question {
    width: 1200px;
    margin: auto;
    text-align: center;
    height: 500px;
}

main > .question > .title {
    width: 300px;
    font-size: 30px;
    font-weight: 600;
    margin: 30px auto ;
}
/* 질문이 2개씩 나오는 부분 */
.question_first {
    display: flex;
    justify-content: center;
}

.question_first > button {
    border: none;
    margin: 20px;
    width: 500px;
    font-size: 25px;
    height: 300px;
}

.question > #last{
    display: none;
}

.question > #second{
    display: none;
}

.question > #four_left {
    display: none;
}
.question > #four_left {
    display: none;
}

/* 질문이 3개씩 나오는 부분 */
.question > .question_second {
    display: none;
}

.question > .question_second > p {
    width: inherit;
    margin:auto;
}
.question > .question_second > button {
    border: none;
    margin: 20px;
    width: 300px;
    font-size: 25px;
    height: 300px;
}