/* main */

main > .inner {
    height: 400px;
    background-color: yellow;
}

main > .inner > .content {
    width: 900px;
    height: 350px;
    background-color: chocolate;
}

/* footer */
footer {
    width: 100%;
    background-color: gray;
    height: 150px;
   text-align: center;
}
footer > button {
    border: none;
    font-size: 25px;
    margin: 30px 10px 10px 10px;
    background-color: gray;
    color: #f7f7f7;
}

