/*@import url('https://fonts.googleapis.com/css?family=Jua:400');*/
/** {*/
/*    font-family: 'Jua', sans-serif;*/
/*}*/

body {
    background: #FDEDD3;
}

.registerBox {
    background-color: white;

    width: 450px;
    height: 500px;

    border-radius: 20px;
    border: 1px dashed black;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerTittle {
    width: 500px;
    height: 50px;

    text-align: center;
    font-size: xx-large;

    position: absolute;
    top: 30px;
}

.inputBox {
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputBox > div {
    margin: auto 0;
}

.inputBox > div > span{
    width: 180px;
    height: 20px;

    position: absolute;
    left: 10px;

    text-align: center;
    font-size: x-large;
}

.inputBox > div > input {
    /*background-color: white;*/

    border: 1px dashed #ED3128;
    border-radius: 5px;

    width: 200px;
    height: 30px;

    position: absolute;
    right: 10px;

    font-size: large;

    margin-right: 15px;

    padding: 0 10px 0 10px;
}

.inputBox > div > input:hover {
    border: 1px solid black;
}

.inputBox > div > input:focus {
    /*box-shadow: inset 0px 0px 10px 5px rgba(252, 170, 22, 0.5);*/
    border: 2px solid #ED3128;
}

.inputBox > div > i {
    position: absolute;
    z-index: 2;
    right: 35px;
    margin-top:8px;
}

.registerBox > button {
    background-color: #ED3128;
    color: white;

    width: 150px;
    height: 50px;

    position: absolute;
    bottom: 20px;

    font-size: large;

    border-radius: 5px;
    border: #ED3128 solid 1px;
}

.registerBox > button:hover {
    border: black solid 2px;
}