{% extends 'base.html' %}
{% block title %}<title>상세 페이지</title>{% endblock title %}
{% block scripts %}
<link rel="stylesheet" href="../static/detail.css">

<script>

    $(document).ready(function () {
        const name = getId();
        listing(name);

    });


        function getId() {
            const urlParams = new URLSearchParams(location.search);
            return urlParams.get('title');
        }

        function listing(name) {
            $.ajax({
                type: "POST",
                url: "/api/detail",
                data: {detail_give:name},
                success: function (response) {
                    let rows = response['hotdogs']
                    console.log(rows['name'])

                        let name = rows['name']
                        let content = rows['content']
                        let img = rows['detailImgUrl']

                        let temp_html = `<h3> ${name} </h3>
                                        <img src="${img}">
                                        <p> ${content}</p>`
                        $('.detail-box').append(temp_html)

                }
            })
        }
</script>
{% endblock scripts %}

{% block content %}

<div class="detail-box">
</div>
<div class="comment-box">
    <input type="text" placeholder="의견을 남겨주세요.">
    <button>등록</button>
</div>
{% endblock content %}
