{% extends 'base.html' %}
{% block title %}<title>상세 페이지</title>{% endblock title %}
{% block scripts %}
<link rel="stylesheet" href="../static/detail.css">

<script>

        $(document).ready(function () {
            const name = getId();
            listing(naame);
        });

        function getId() {
            const urlParams = new URLSearchParams(location.search);
            return urlParams.get('title');
        }

        function listing() {
            $.ajax({
                type: "GET",
                url: "/hotdog-list",
                data: {},
                success: function (response) {
                    let rows = response['hotdogs']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let content = rows[i]['content']
                        let img = rows[i]['detailImgUrl']

                        let temp_html = `<h3> ${name} </h3>
                                        <img src="${img}">
                                        <p> ${content}</p>`
                        $('.detail-box').append(temp_html)
                    }
                }
            })
        }
</script>
{% endblock scripts %}

{% block content %}
<div class="detail-box">
</div>
<div class="comment-box">
    <input type="text" placeholder="의견을 남겨주세요.">
    <button>등록</button>
</div>
{% endblock content %}
