{% extends 'base.html' %}
{% block title %}<title>HOT! DOG</title>{% endblock title %}

{% block scripts %}
<link rel="stylesheet" href="../static/main.css">
{% endblock scripts %}

{% block content %}
    <main>
        <div class="question">
            <div class="title">버튼을 클릭해주세요!</div>
            <div class="question_first" id="first">
                <button class="first_yes">어멋 명랑 핫도그잖아?<br> 역시 핫도그엔 소시지!</button>
                <button class="first_no">소시지는 이젠 질려~</button>
            </div>

            <div class="question_first" id="last">
                <p>소시지보단 떡? 치즈?</p>
                <button class="last_btn">통 가래떡</button>
                <button class="last_btn">통 모짜</button>
            </div>

            <div class="question_first" id="second">
                <p>음 치즈가 있네?</p>
                <button class="second_btn">난 룰루랄라 치즈파~</button>
                <button class="second_btn">난 느끼한거 시른데...</button>
            </div>

            <div class="question_second third">
                <p>나는 어떤 치즈를 좋아했지?</p>
                <button class="third_btn">크림치즈</button>
                <button class="third_btn">체다치즈</button>
                <button class="third_btn">모짜렐라 치즈</button>
            </div>

            <div class="question_second third">
                <p>핫도그 종류가 3가지가 있네?</p>
                <button class="second_btn_last">난 기본이 좋아~</button>
                <button class="second_btn_last">난 매운게 좋아~!</button>
                <button class="second_btn_last">난 소시지 큰게 좋아!</button>
            </div>

            <div class="question_first" id="four_left">
                <p>당신! 체다파군?!</p>
                <button class="four_btn_left">난 체다지즈만 먹을래!</button>
                <button class="four_btn_left">난 모짜렐라도 좋아~!</button>
            </div>

            <div class="question_second" id="four_rigth">
                <p>당신! 모짜파군?!</p>
                <button class="four_btn_right">매콤한게 땡기네?</button>
                <button class="four_btn_right">모짜렐라에 소시지만</button>
                <button class="four_btn_right">난 체다치즈도 좋아!</button>
            </div>
        </div>
    </main>

<script>
    const href = window.location.href;
    const firstQue = document.querySelector('#first');
    const firstYes = document.querySelector('.first_yes');
    const firstNo = document.querySelector('.first_no');

    <!-- 마지막 질문 (통가래떡)-->
    const lastQue = document.querySelector('#last');
    const lastBtns = document.querySelectorAll('.last_btn');

    const secondQue = document.querySelector('#second');
    const secondBtn = document.querySelectorAll('.second_btn');

    const thirdQue = document.querySelectorAll('.third');
    const secondBtnLast = document.querySelectorAll('.second_btn_last');
    const thirdBtn = document.querySelectorAll('.third_btn');

    const fourLeftQue = document.querySelector('#four_left');
    const fourRightQue = document.querySelector('#four_rigth');
    const fourLeftBtn = document.querySelectorAll('.four_btn_left');
    const fourRightBtn = document.querySelectorAll('.four_btn_right');

    const divEle = document.querySelectorAll('.card');
    const titleEle = document.querySelectorAll('.card-title');
    for (let i = 0; i < divEle.length; i++) {
        divEle[i].addEventListener('click', () => {
            const text = titleEle[i].innerText;
            window.location.href = '/detail?title' + text;
        });
    }


    firstNo.addEventListener('click', (event) => {
        firstQue.style.display = 'none';
        for (let i = 0; i < lastBtns.length; i++) {
            lastBtns[i].addEventListener('click', (event) => {
                if (i === 0) {
                    window.location.href = href + 'recomment?result=' + "BG";
                } else {
                    window.location.href = href + 'recomment?result=' + "BM"
                }
            })
        }
        lastQue.style.display = 'block';
    });

    firstYes.addEventListener('click', (event) => {
        firstQue.style.display = 'none';
        secondQue.style.display = 'block';
        for (let i = 0; i < secondBtn.length; i++) {
            secondBtn[i].addEventListener('click', (event) => {
                secondQue.style.display = 'none';
                if (i === 0) {
                    thirdQue[0].style.display = 'block';
                } else {
                    thirdQue[1].style.display = 'block';
                }
            });
        }
    });

    for (let i = 0; i < thirdBtn.length; i++) {
        switch (i) {
            //크림치즈 가져오기 ajax
            case 0 :
                thirdBtn[0].addEventListener('click', (event) => {
                    window.location.href = href + 'recomment?result=' + 'ACC'
                })
                break;
            //체다치즈 질문
            case 1 :
                thirdBtn[1].addEventListener('click', (event) => {
                    thirdQue[0].style.display = 'none';
                    fourLeftQue.style.display = 'block';
                });
                break;
            //모짜렐라
            case 2 :
                thirdBtn[2].addEventListener('click', (event) => {
                    thirdQue[0].style.display = 'none';
                    fourRightQue.style.display = 'block';
                });
                break;
        }
    }

    for (let i = 0; i < secondBtnLast.length; i++) {
        switch (i) {
            case 0 :
                secondBtnLast[0].addEventListener('click', (event) => {
                    window.location.href = href + 'recomment?result=' + 'ANO'
                });
                break;

            //할라피뇨
            case 1 :
                secondBtnLast[1].addEventListener('click', (event) => {
                    window.location.href = href + 'recomment?result=' + 'ANH'
                });
                break;

            //점보
            case 2 :
                secondBtnLast[2].addEventListener('click', (event) => {
                    window.location.href = href + 'recomment?result=' + 'ANZ'
                });
                break;
            default:
                console.log('세번째 마지막 질문');
        }
    }

    for (let i = 0; i < fourLeftBtn.length; i++) {
        fourLeftBtn[i].addEventListener('click', (event) => {
            if (i === 0) {
                //체다치즈 부분 ajax 요청
                window.location.href = href + 'recomment?result=' + 'ACHH'
            } else {
                //반반모짜체다
                window.location.href = href + 'recomment?result=' + 'ACHM'
            }
        });
    }

    for (let i = 0; i < fourRightBtn.length; i++) {
        switch (i) {
            //라면맵땅 부분 ajax요청
            case 0:
                fourRightBtn[0].addEventListener('click', (event) => {
                    window.location.href = href + 'recomment?result=' + 'ACMR'
                });
                break;
            //반반모짜 부분 ajax요청
            case 1:
                fourRightBtn[1].addEventListener('click', (event) => {
                    window.location.href = href + 'recomment?result=' + 'ACMM'
                });
                break;
            //반반모짜 체다
            case 2:
                fourRightBtn[2].addEventListener('click', (event) => {
                    window.location.href = href + 'recomment?result=' + 'ACHM'
                });
                break;
            default:
                console.log('마지막 매콤,체다,반반 질문');
        }
    }
</script>
{% endblock content %}
