<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="../static/notice.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>핫도그 게시판</title>
    
    <script>
        $(document).ready(function(){
            listing();
            // click();
            // const divEle = document.querySelectorAll('.card');
            // const titleEle = document.querySelectorAll('.card-title');
            // for (let i = 0; i < divEle.length; i++) {
            //     divEle[i].addEventListener('click', () => {
            //         const text = titleEle[i].innerText;
            //         window.location.href = '/detail?title' + text;
            //     });
            //
            // }
            // $('div').on('click', function() {
            //     const text = $('#notice-box>div>div>h5').text();
            //     console.log(text)
            //     // window.location.href = "/detail?title=" + text
            // });
        });
        
        function click() {
            const divEle = document.querySelectorAll('.card');
            const titleEle = document.querySelectorAll('.card-title');
            const text = $('.notice').text();
            console.log(text)
            // for (let i = 0; i < divEle.length; i++) {
            //     divEle[i].addEventListener('click', () => {
            //         window.location.href = '/detail?title' + text;
            //     });
            //
            // }
        }

        function listing() {
            $.ajax({
                type: "GET",
                url: "/hotdog-list",
                data : {},
                success: function (response) {
                    let rows = response['hotdogs']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let content = rows[i]['content']
                        let img = rows[i]['imgUrl']

                        let temp_html = `<div class="card" onclick="click()">
                                            <img src="${img} class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">${name}</h5>
                                                <p class="card-text">${content}</p>
                                            </div>
                                        </div>`
                        $('#notice-box').append(temp_html)

                    }
                }
            })
        }
        
    </script>
</head>
<body>
    <header>
        <input type="checkbox" id="menucion" style="display: none"/>
        <div class="inner">
            <img src="https://myungranghotdog.com/images/site/kor/layout/logo.png" alt="로고 이미지">
            <label for="menucion">
                <div class="material-symbols-outlined">
                    menu
                </div>
                <div class="sidebar">
                    <form action="">
                        <fieldset class="sidebar_login">
                            <legend> 로그인 </legend>
                            <label for="sidebar_id">아이디 :<input type="text" title="아이다" id="sidebar_id" /></label><br>
                            <label for="sidebar_password">비밀번호 :<input type="password" title="비밀번호" id="sidebar_password"/></label><br>
                            <input type="submit" value="로그인 하기"/>
                        </fieldset>
                    </form>
                    <div class="sidebar_navBtn">
                        <button>회원가입</button>
                        <button>리뷰보기</button>
                        <button>메뉴보기</button>
                    </div>
                </div>
            </label>
        </div>
    </header>
    <div class="search-box">
        <input type="text" placeholder="검색어를 입력하세요.">
        <button>검색</button>
    </div>
    <div class="notice" id="notice-box">
    </div>
</body>
</html>