{% extends 'base.html' %}
{% block title %}<title>추천 완료!</title>{% endblock title %}

{% block scripts %}
<link rel="stylesheet" href="../static/recomment.css">

<script>
    function getId() {
        const urlParams = new URLSearchParams(location.search);
        console.log(urlParams.get('result'));
        return urlParams.get('result');
    }

    $(document).ready(function () {
        const result = getId();
        posting(result);

    });

    function posting(result) {
        console.log('result', result);
        $.ajax({
            type: 'POST',
            url: '/recomment_get',
            data: {},
            success: function (response) {
                console.log(response);
            }
        });
    }
</script>
{% endblock scripts %}

{% block content %}
<main>
    <div class="inner">
        <div class="content">
            main입니다.
        </div>
    </div>
</main>

<footer>
    <p>핫도그 설명</p>
    <p>핫도그 맛이겠다 배고프다 미치겠다.. 맛이겠다. 치즈즈즈즈즈즈~</p>
    <button>메뉴 보러 가기</button>
    <button>처음으로</button>
</footer>
{% endblock content %}