{% extends 'base.html' %}
{% block title %}<title>추천 완료!</title>{% endblock title %}

{% block scripts %}
<link rel="stylesheet" href="../static/recomment.css">

<script>
    $(document).ready(function () {
        const result = getId();
        posting(result);
        //plusTotal();
        getNumber();
        total();
    });

    function getNumber() {
        $.ajax({
            type: "POST",
            url: "/api/number",
            data: {name_give: getId()},
            success: function (response) {
                console.log(response['result']);
                const num = response['result'] + 1;
                plusTotal(num);
            }
        })
    }

    function plusTotal(num) {
        $.ajax({
            type: "POST",
            url: "/api/plus",
            data: {name_give: getId(),num_give: num},
            success: function (response) {
                console.log(response);
            }
        })
    }

    function total() {
        $.ajax({
            type: "GET",
            url: "/api/total",
            data: {},
            success: function (response) {
                console.log(response);
            }
        })
    }

    function posting(result) {
        $.ajax({
            type: 'POST',
            url: '/api/recomment',
            data: {recomment_give:result},
            success: function (response) {
                let rows = response['result'];
                let title = rows['name'];
                let img = rows['detailImgUrl'];
                let content = rows['content'];
                let tag = rows['tag'];
                let tagEle = '';
                console.log(title);
                
                switch(title){
                    case '크림치즈 핫도그': tagEle = `<p id="cream">${tag}</p>`
                    break;
                    case '라면맵땅 핫도그':tagEle = `<p id="ramen">${tag}</p>`
                    break;
                    case '모짜체다 핫도그':tagEle = `<p id="mozzachedda">${tag}</p>`
                    break;
                    case '통모짜 핫도그':tagEle = `<p id="tongmozza">${tag}</p>`
                    break;
                    case '반반모짜 핫도그':tagEle = `<p id="halfmozza">${tag}</p>`
                    break;
                    case '체다치즈 핫도그':tagEle = `<p id="cheddacheeze">${tag}</p>`
                    break;
                    case '점보 핫도그':tagEle = `<p id="zumbo">${tag}</p>`
                    break;
                    case '할라피뇨 핫도그':tagEle = `<p id="halapinyu">${tag}</p>`
                    break;
                    case '통 가래떡 핫도그':tagEle = `<p id="tongrice">${tag}</p>`
                    break;
                    case '명랑 핫도그':tagEle = `<p id="original">${tag}</p>`
                    break;
                    default: console.log(title);
                }
                let temp_html = `<img src=${img}/><p>${title}</p> <p>${content}</p>`;
                temp_html += tagEle;
                console.log(temp_html);
                $(`.content`).append(temp_html);
            }
        });
    }

    function getId() {
        const urlParams = new URLSearchParams(location.search);
        console.log(urlParams.get('result'));
        return urlParams.get('result');
    }

    function goMain() {
        window.location.href = "/";
    }

    function goNotice() {
        window.location.href = "/notice";
    }
</script>
{% endblock scripts %}

{% block content %}
<main>
    <div class="static">통계공간입니다</div>
    <div class="inner">
        <div class="content">
            <p>짜잔! 당신의 핫도그는?!~</p>
        </div>
    </div>
</main>

<footer>
    <button onclick="goNotice()" class="footer_btn">메뉴 보러 가기</button>
    <button onclick="goMain()" class="footer_btn">처음으로</button>
</footer>
{% endblock content %}