{% extends 'base.html' %}
{% block title %}<title>추천 완료!</title>{% endblock title %}

{% block scripts %}
<link rel="stylesheet" href="../static/recomment.css">

<script>
    $(document).ready(function () {
        const result = getId();
        posting(result);
    });

    function posting(result) {
        $.ajax({
            type: 'POST',
            url: '/api/recomment',
            data: {recomment_give:result},
            success: function (response) {
                let rows = response['result'];
                let title = rows['name'];
                let img = rows['detailImgUrl'];
                let content = rows['content'];
                console.log(rows);
                console.log(title);
                console.log(img);
                console.log(content);
                let temp_html = `<img src=${img}/><p>${title}</p> <p>${content}</p>`;
                $(`.content`).append(temp_html);
            }
        });
    }

    function getId() {
        const urlParams = new URLSearchParams(location.search);
        console.log(urlParams.get('result'));
        return urlParams.get('result');
    }

    function goMain() {
        window.location.href = "/";
    }

    function goNotice() {
        window.location.href = "/notice";
    }
</script>
{% endblock scripts %}

{% block content %}
<main>
    <div class="inner">
        <div class="content">
            <p>짜잔! 당신의 핫도그는?!~</p>
        </div>
    </div>
</main>

<footer>
    <button onclick="goNotice()">메뉴 보러 가기</button>
    <button onclick="goMain()">처음으로</button>
</footer>
{% endblock content %}